*{
    margin: 0;
    padding: 0;
}

 .head-sec{
    height: 50vh;
    background-color: #D4D4D6;
    /* margin-bottom: 25px; */
 }

.product-one-dev,
.product-two-dev,
.product-three-dev,
.product-four-dev{
   background-color: #D4D4D6;
   border-radius: 5px;
}

.product-one{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   column-gap: 15px;
   margin: 20px;
   /* height: 170px; */
}
.product-image{
   width: 100px;
}
.product-image-two{
   width: 100px;
   border-radius: 5px;
}
.product-image-one{
   width: 110px;
   height: 100px;
}
.product-element{
   text-align: center;
}
.product-name{
   margin-bottom: 8px;
   font-size: 15px;
   font-weight: bold;
   padding: 10px;
}

.product-price{
   font-size: 17px;
   font-weight: bold;
}

.product-button{ 
   display: flex;
   justify-content: center;
   align-items: center;
}
 

.button-name{
  background-color: rgb(101, 180, 211);
  border: none;
  width: 70px;
  height: 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 10px;
}

#type-one{
   color: gold;
}
#type-two{
   color: black;
}
.head-one,
.head-two{
   background-color: red;
   height: 100px;
}

.head-dev{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.product-one-dev{
   display: grid;
   justify-content: center;
   align-items: center;
}


.image-one{
   display: flex;
   justify-content: center;
   align-items: center;
}

@media screen and (max-width:414px){
  
}